body {
    display: flex;
    justify-content: center;
    background-color: #151f43;
}
.strona{
    min-height: 1000px;
    max-width:1000px;
    height: 100%;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 4r;
}
.lpasek{
position: relative;
background-color: #151f43;
height:100%;
width:60px;
}
